
{% load static %}

<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Sign UP</title>
    <link rel="stylesheet" href="{% static 'css/Regstyle.css' %}">
    <link rel="icon" href="{% static 'img/icon-deal.png' %}" type="image/png">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <br><br>
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>{{form.errors}}</strong>
    </div>
    {% endif %}
    <div>
        Already have an acoount? <a href="{% url 'userauths:sign-in' %}">Log in</a>
     </div>
    <div class="content">
      <form method= "POST">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                {{form.username}}
            </div>
            <div class="input-box">
                {{form.email}}
            </div>
            <div class="input-box">
                {{form.password1}}
            </div>
            <div class="input-box">
                {{form.password2}}
            </div>
          <!-- <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div> -->
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <div>
          Want to go back? <a href="{% url 'core:index' %}">Go Back</a>
       </div>
      </form>
    </div>
  </div>
</body>
</html>
